html, body {
    margin: 0;
    padding: 0;
}
html {
    background-color: #eff0f4;
    font-size: 62.5%;
    border:none;
}

.head{
    height: 9rem; 
    width: 100%;
    background-color: #5fc0cd;
    color: white;
}
.sigin{
    float: right;
    padding-right: 1rem;
    padding-top: 2rem;
    font-size:3rem;
}

.login{
    padding-top: 2rem;
    display: inline-block;
    font-size:3rem;
    width: 6rem;
    height: 6rem;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -3rem;
}
.close{
   
   float: left;
   padding-top: 2rem;
   padding-left: 1rem;
   font-size:3rem;
}

.wrap{
    background-color: white;margin-top: 0.2rem;margin-top: 1.5rem;
}

.phone{
    display: inline-block;
    background-color: white;
    width: 8rem;height: 10rem;
    background-image: url(../img/iphone.png);
    background-position:2.5rem 2.5rem;
    background-size: 2.8rem 4.5rem;
    background-repeat: no-repeat;
}
.inputnumber {
    margin-top: 2.1rem;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #e7e7e7;
    padding-left: 3rem;
    width: 55%;
    height: 5rem;
    background-color: white;
    vertical-align: top;
    outline:medium;
    font-size: 2.5rem;
    color:black ;
}
.block {
    display: inline-block;
    background-color: white;
    width: 8rem;
    height: 10rem;
    background-image: url(../img/locked\ 2.png);
    background-size:3rem 4.5rem;
    background-position: 2.5rem 2.5rem;
    background-repeat:no-repeat;
}
.inputpassword{
    margin-top: 2.1rem;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color:#e7e7e7;
    padding-left: 3rem;
    width: 55%;
    height: 5rem;
    background-color: white;
    vertical-align: top;
    outline:medium;
    font-size: 2.5rem;
    color:black;
}


.button{
    width: 100%;
    border: 0;
    margin-top: 1.5rem;
    height: 9rem;
    background-color:#5fc0cd ;
    font-size: 2.5rem;
    color: white;
}
.button-password{
    float: right;
    text-decoration:underline; 
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    border: 0;
    font-size: 2rem;
    color:#5fc0cd;
    background-color: #eff0f4;
    outline: none;
}