html{font-size:62.5%;}
body{
	font-size:3rem;
}
html,body{padding:0;margin: 0;height: 100%;background-color: lightseagreen;}

.img1{
	padding-left:2rem;
	padding-top: 2rem;
}
.imgtop{
	padding-top: 20rem;text-align: center;
}
.content{
	text-align: center;padding-left:8rem;padding-right: 8rem;
	}
.imgleft{
	 display:inline-block;  text-align: center; color: white; margin-left: 10rem;margin-top: 20rem;
}
.imgright{
	
	display: inline-block; text-align: center; color: white; margin-right: 10rem;margin-top:20rem ;float: right;
}